:root {
    --BitcoinOrange: #F7931A;
    --SoftOrange: #FFE9D5;
    --SecondaryBlue: #1A9AF7;
    --SoftBlue:  #E7F5FF;
    --WarmBlack: #201E1C;
    --WarmBlack_1: #282623;
    --Grey: #BABABA;
    --OffWhite: #FAF8F7;
    --JustWhite: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/*---------------------Header----------------------------*/
.header {
    width: 100%;
    padding-top: 40px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container-content {
    width: 100%;
    padding: 0 20px;
    margin-top: 33px;
    text-align: center;
}
.container-content__textOne {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--JustWhite);
}
.container-content__textTwo {
    margin-top: 24px;
    margin-bottom: 61px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--SoftOrange);
}
.button-know {
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background-color: var(--OffWhite);
    position: absolute;
    top: calc(100% - 25px);
}
.button-know__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--WarmBlack);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-know__iconArrow {
    width: 12px;
    height: 8px;
    margin-left: 14px;
    display: inline-block;
    background-image: url(../ICONS/down-arrow.svg);
    background-size: contain;
}
/*--------------------------Main-------------------------*/
.main {
    width: 100%;
    padding-top: 60px;
    background-color: var(--OffWhite);
}
/*--------------------coinInfo Section--------------------*/
.coin-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container-contentCoinInfo {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
.container-contentCoinInfo__textOne {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--WarmBlack);
}
.container-contentCoinInfo__textTwo {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgba(117, 117, 117, 1);
}
/*------------CoinInfo Table with Grid-----------------*/
.coin-table {
    min-width: 235px;
    margin-top: 50px;
    padding: 0 10px;
    display: grid;
    grid-template: repeat(5,40px) / repeat(2,100px);
    align-items: stretch;
    justify-content: center;
    justify-items: stretch;
    gap: 2px;
    position: relative;
}
.coin-table__title {
    margin-left: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    color: rgba(255, 149, 54, 1);
    grid-column: 1 / -1;
}
.container-coinInfo {
    padding: 12px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-coinInfo__nameCoin {
    font: 500 1.6rem 'Inter', sans-serif;
    color: rgba(181, 176, 172, 1);
}
.container-coinInfo__amountCoin {
    font: 400 1.4rem 'Inter', sans-serif;
    color: rgba(117, 117, 117, 1);
}
.container-coinInfo__icon {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 11px;
    height: 6px;
    margin-right: 10px;
}
.--iconCoinDown {
    background-image: url(../ICONS/trending-down.svg);
}
.--iconCoinUp {
    background-image: url(../ICONS/trending-up.svg);
}
.--radius-top-left {
    border-top-left-radius: 8px;
}
.--radius-top-right {
    border-top-right-radius: 8px;
}
.--radius-bottom-left {
    border-bottom-left-radius: 8px;
}
.--radius-bottom-right {
    border-bottom-right-radius: 8px;
}
.coin-table__iconArrowRight {
    background-image: url(../ICONS/right-arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
    margin-left: 10px;
    position: absolute;
    top: calc(60% - 5px);
    left: calc(100% - 12px);
}
/*----------Container DateUpdated and iconBatata-----------*/
.container-dateupdated {
    width: 190px;
    height: 30px;
    margin: 25px 0 65px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--SoftOrange);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-dateupdated__textStrong {
    font: 700 1.4rem 'Inter', sans-serif;
    margin-right: 5px;
}
.container-dateupdated__text {
    font: normal 1.2rem 'Inter', sans-serif;
}
.coin-table__iconBatata {
    background-image: url(../ICONS/batata.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 41px;
    height: 26px;
    position: absolute;
    top: calc(100% - 13px);
}
/*------------web-info Section-----------*/
.web-info {
    width: 100%;
    padding: 65px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--WarmBlack);
}
.container-webInfoText {
    width: 100%;
    text-align: center;
    padding: 0 15px;
}
.container-webInfoText__textOne {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--JustWhite);
}
.container-webInfoText__textTwo {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgba(128, 128, 128, 1);
}
/*------------web-info Section Cards-----------*/
.container-cards {
    min-width: 288px;
    max-width: 690px;
    min-height: 400px;
    margin-top: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card {
    width: 288px;
    min-height: 152px;
    padding: 16px 20px 22px 16px;
    margin-top: 15px;
    background-color: var(--WarmBlack_1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--JustWhite);
    margin-bottom: 10px;
}
.card__text {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}
.card__icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
}
.--iconClock {
    background-image: url(../ICONS/clock.svg);
}
.--iconEye {
    background-image: url(../ICONS/eye.svg);
}
.--iconDollar {
    background-image: url(../ICONS/dollar-sign.svg);
}
.--iconCheck {
    background-image: url(../ICONS/check-circle.svg);
}
/*--------------------Banner Section---------------------*/
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.banner__img {
    min-width: 320px;
}
.banner__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--JustWhite);
    position: absolute;
    top: 16%;
}